<div>
    <h2>Users</h2>
    @if(vm$ | async; as vm) {
        @if(vm.errorMessage) {
            <p>User data could not be loaded at this time. Try again later.</p>
        }@else {
            <app-user-table 
            [tableForm]="vm.userTableForm" 
            [tableHeaders]="USER_TABLE_HEADERS"
             (toggleEdit)="editRowData($event, vm.userTableForm)" 
             (rowModified)="saveRowData($event, vm.userTableForm)"
             (isEditingTable)="toggleFullTable($event, vm.userTableForm)"
             (tableEdited)="handleTableEdited(vm.userTableForm)"
             ></app-user-table>
        }
    }@else {
        <p>Loading user data...</p>
    }
</div>